body {
  color: white;
  display: grid;
  height: 100vh;
  width: 100%;
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #555;
  width: 70%;
  height: 70;
}
input {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  width: 100%;
}
textarea {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  width: 100%;
}
button {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}
