body {
  display: grid;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
}
main h2 {
  font-size: 5em;
}
main p {
  font-size: 2em;
}
main h3 {
  font-size: 2em;
}
main ul {
  font-size: 1.2em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main ul li {
  border-bottom: 1px solid white;
  padding: 1em;
}
main ul li:last-child {
  border-bottom: none;
}
main img {
  float: left;
  width: 100px;
  margin-right: 20px;
}
