* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  min-height: 100vh;
}
header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 30vh;
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
header ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
h1 {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
header p {
  width: 100%;
  text-align: center;
}
.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 50%;
}
.user-info img {
  width: 50px;
  height: 50px;
}
main {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "projects work education"
    "reviews reviews reviews";
}
main ul {
  list-style: none;
}
#projects-section,
#work-section,
#education-section,
#reviews-section {
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#projects-section {
  grid-area: projects;
}
#work-section {
  grid-area: work;
}
#education-section {
  grid-area: education;
}
#projects-section p,
#work-section p,
#education-section p {
  flex-grow: 1;
}
#projects-section ul,
#work-section ul,
#education-section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid lightgray;
  padding: 10px;
}
#projects-section ul li,
#work-section ul li,
#education-section ul li {
  border: 1px solid lightgray;
  padding: 10px;
}
#reviews-section {
  grid-area: reviews;
  display: flex;
  gap: 10px;
  height: 100%;
}
#reviews-section h2 {
  flex-grow: 1;
}
.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  width: 100%;
  height: 100%;
}
article {
  border: 1px solid lightgray;
  padding: 10px;
  margin-top: 50px;
}
footer {
  grid-area: footer;
  text-align: center;
  color: lightgray;
  background-color: darkgray;
  padding: 10px;
}
