* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
nav {
  width: 100%;
  height: 8vh;
  background-color: #333;
  color: white;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  height: 100%;
  margin: auto 0;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-right: auto;
}
.user-info img {
  width: 50px;
  height: 100%;
}
.nav-button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}
.nav-button a {
  display: block;
  padding: vh 0;
  text-decoration: none;
  color: white;
}
